In [1]:
import pandas as pd
from collections import OrderedDict

In [2]:
df=pd.read_excel('Xiaomi Raw Data.xlsx')

In [3]:
df.shape

(43200, 7)

In [4]:
df.describe()  #we are not getting categorical variables

,Customer,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
count,43200.000000,43200.000000,43200.000000,43200.000000,43200.000000
mean,21600.500000,23.740000,4.820000,12.810000,6812.820000
std,12470.910151,8.267647,2.016853,6.002444,3201.905731
min,1.000000,8.000000,2.000000,4.300000,1784.000000
25%,10800.750000,18.000000,3.000000,8.500000,4473.000000
50%,21600.500000,22.500000,4.500000,11.400000,6215.000000
75%,32400.250000,29.000000,6.000000,15.100000,8412.000000
max,43200.000000,46.000000,10.000000,32.900000,15851.000000

In [5]:
df.describe(include='all')  #unique,top,freq is for categorical variables

,Customer,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
count,43200.000000,43200,43200,43200.000000,43200.000000,43200.000000,43200.000000
unique,NaN,7,3,NaN,NaN,NaN,NaN
top,NaN,Friday,Chrome,NaN,NaN,NaN,NaN
freq,NaN,9504,23328,NaN,NaN,NaN,NaN
mean,21600.500000,NaN,NaN,23.740000,4.820000,12.810000,6812.820000
std,12470.910151,NaN,NaN,8.267647,2.016853,6.002444,3201.905731
min,1.000000,NaN,NaN,8.000000,2.000000,4.300000,1784.000000
25%,10800.750000,NaN,NaN,18.000000,3.000000,8.500000,4473.000000
50%,21600.500000,NaN,NaN,22.500000,4.500000,11.400000,6215.000000
75%,32400.250000,NaN,NaN,29.000000,6.000000,15.100000,8412.000000
max,43200.000000,NaN,NaN,46.000000,10.000000,32.900000,15851.000000

In [6]:
df.isnull().sum()

Customer              0
Day                   0
Browser               0
No. of Clicks         0
Pages Viewed          0
Time (min)            0
Amount Spent (Rs.)    0
dtype: int64

#  Custom Summary

In [7]:
df.columns

Index(['Customer', 'Day', 'Browser', 'No. of Clicks', 'Pages Viewed',
       'Time (min)', 'Amount Spent (Rs.)'],
      dtype='object')

#### creating dataframe named columns which will contain only continuous variables

In [8]:
cont_data=[] #storing continuous columns
for i in df.columns:
    if df[i].dtype!='object':
        cont_data.append(i)

In [9]:
cont_data

['Customer',
 'No. of Clicks',
 'Pages Viewed',
 'Time (min)',
 'Amount Spent (Rs.)']

### how to create ordered dictionary which will later be made a dataframe

In [14]:
result=[]
for col in df.columns:
    if df[col].dtype != 'object':
        stats=OrderedDict({     #this is local variable not global var
            'Feature Name':col,
            'Count':df[col].count(),
            'Minimum':df[col].min(),
            'Quartile1':df[col].quantile(0.25),
            'Quartile2':df[col].quantile(0.5),
            'Mean':df[col].mean(),
            'Quartile3':df[col].quantile(0.75),
            'Maximum':df[col].max(),
            'Variance':round(df[col].var(),0),
            'Standard Dev':round(df[col].std(),2),
            'Skewness':df[col].skew(),
            'Kurtosis':df[col].kurt()
             })
        result.append(stats)
result

[OrderedDict([('Feature Name', 'Customer'),
              ('Count', 43200),
              ('Minimum', 1),
              ('Quartile1', 10800.75),
              ('Quartile2', 21600.5),
              ('Mean', 21600.5),
              ('Quartile3', 32400.25),
              ('Maximum', 43200),
              ('Variance', 155523600.0),
              ('Standard Dev', 12470.91),
              ('Skewness', 0.0),
              ('Kurtosis', -1.2000000000000002)]),
 OrderedDict([('Feature Name', 'No. of Clicks'),
              ('Count', 43200),
              ('Minimum', 8),
              ('Quartile1', 18.0),
              ('Quartile2', 22.5),
              ('Mean', 23.74),
              ('Quartile3', 29.0),
              ('Maximum', 46),
              ('Variance', 68.0),
              ('Standard Dev', 8.27),
              ('Skewness', 0.6778995487598704),
              ('Kurtosis', 0.025564361415895576)]),
 OrderedDict([('Feature Name', 'Pages Viewed'),
              ('Count', 43200),
              ('Minimum', 2),
              ('Quartile1', 3.0),
              ('Quartile2', 4.5),
              ('Mean', 4.82),
              ('Quartile3', 6.0),
              ('Maximum', 10),
              ('Variance', 4.0),
              ('Standard Dev', 2.02),
              ('Skewness', 0.6268565557009698),
              ('Kurtosis', 0.03487054911476628)]),
 OrderedDict([('Feature Name', 'Time (min)'),
              ('Count', 43200),
              ('Minimum', 4.3),
              ('Quartile1', 8.5),
              ('Quartile2', 11.4),
              ('Mean', 12.809999999998897),
              ('Quartile3', 15.1),
              ('Maximum', 32.9),
              ('Variance', 36.0),
              ('Standard Dev', 6.0),
              ('Skewness', 1.4060181793149642),
              ('Kurtosis', 2.053011435338542)]),
 OrderedDict([('Feature Name', 'Amount Spent (Rs.)'),
              ('Count', 43200),
              ('Minimum', 1784.0000000000005),
              ('Quartile1', 4473.0),
              ('Quartile2', 6215.0),
              ('Mean', 6812.82),
              ('Quartile3', 8412.0),
              ('Maximum', 15851.0),
              ('Variance', 10252200.0),
              ('Standard Dev', 3201.91),
              ('Skewness', 1.0173434048972814),
              ('Kurtosis', 0.6738818672129518)])]

In [11]:
def custom_summary(my_df):
    result=[]
    for col in my_df.columns:
        if my_df[col].dtype != 'object':
            stats=OrderedDict({     #this is local variable not global var
                'Feature Name':col,
                'Count':my_df[col].count(),
                'Minimum':my_df[col].min(),
                'Quartile1':my_df[col].quantile(0.25),
                'Quartile2':my_df[col].quantile(0.5),
                'Mean':my_df[col].mean(),
                'Quartile3':my_df[col].quantile(0.75),
                'Maximum':my_df[col].max(),
                'Variance':round(my_df[col].var(),0),
                'Standard Dev':round(my_df[col].std(),2),
                'Skewness':my_df[col].skew(),
                'Kurtosis':my_df[col].kurt()
                 })
            result.append(stats)
    result_df=pd.DataFrame(result)
    #skewness type
    Skewness_label=[]
    for i in result_df['Skewness']:
        if i<=-1 :
            Skewness_label.append('Highly Negatively Skewed')
        elif -1<i<=-0.5:
            Skewness_label.append('Moderately Negatively Skewed')
        elif -0.5<i<0:
             Skewness_label.append('Fairly Negatively Skewed')
        elif 0<=i<0.5:
            Skewness_label.append('Fairly Positively Skewed')
        elif 0.5<=i<1:
              Skewness_label.append('Moderately Positively Skewed')
        elif i>=1:
              Skewness_label.append('Highly Positively Skewed')
    result_df['Skewness Comment']=Skewness_label
    Kurtosis_label=[]
    for i in result_df['Kurtosis']:
        if i<=-1:
            Kurtosis_label.append('Platykurtic curve')
        elif i>=1:
            Kurtosis_label.append('Leptokurtic curve')
        else:
            Kurtosis_label.append('Mesokurtic curve')
    result_df['Kurtosis Comment']=Kurtosis_label 
    return result_df

In [12]:
custom_summary(df)

,Feature Name,Count,Minimum,Quartile1,Quartile2,Mean,Quartile3,Maximum,Variance,Standard Dev,Skewness,Kurtosis,Skewness Comment,Kurtosis Comment
0,Customer,43200,1.0,10800.75,21600.5,21600.50,32400.25,43200.0,155523600.0,12470.91,0.000000,-1.200000,Fairly Positively Skewed,Platykurtic curve
1,No. of Clicks,43200,8.0,18.00,22.5,23.74,29.00,46.0,68.0,8.27,0.677900,0.025564,Moderately Positively Skewed,Mesokurtic curve
2,Pages Viewed,43200,2.0,3.00,4.5,4.82,6.00,10.0,4.0,2.02,0.626857,0.034871,Moderately Positively Skewed,Mesokurtic curve
3,Time (min),43200,4.3,8.50,11.4,12.81,15.10,32.9,36.0,6.00,1.406018,2.053011,Highly Positively Skewed,Leptokurtic curve
4,Amount Spent (Rs.),43200,1784.0,4473.00,6215.0,6812.82,8412.00,15851.0,10252200.0,3201.91,1.017343,0.673882,Highly Positively Skewed,Mesokurtic curve