#                                              Pandas Assignment 1(A)



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset

In [ ]:
tv=pd.read_csv('Pandas Assign 1(A).tsv',sep='\t')
tv.head()

### Step 3. Assign it to a variable called chipo.

In [ ]:
#chipo=tv #in this changes made in chipo will reflect in tv
chipo=tv.copy()
chipo.head()

 ### Step 4. See the first 10 entries

In [ ]:
chipo.head(10) #u can loc and iloc or at or iat

In [ ]:
chipo.iloc[0:10,:]

In [ ]:
chipo.loc[0:9,:]

In [ ]:
chipo.at[9,'item_name']

### Step 5. What is the number of observations in the dataset?

In [ ]:
len(chipo)

In [ ]:
chipo.shape

In [ ]:
chipo.shape[0]

In [ ]:
chipo.axes

In [ ]:
chipo.axes[0]

In [ ]:
len(chipo.axes[0])

In [ ]:
chipo[chipo.columns[1]].count()   #this is used to return no of rows with non null values in that column

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

In [ ]:
range(len(chipo.columns))

In [ ]:
for(columns,count) in zip(chipo.columns,range(len(chipo.columns))):
    print(f'Column{count+1} is:{columns}')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

In [ ]:
chipo.axes[0]

In [ ]:
len(chipo)

In [ ]:
chipo.head()

### Step 9. Which was the most-ordered item?

In [ ]:
chipo['item_name'].mode()

In [ ]:
chipo['item_name'].value_counts().idxmax()

In [ ]:
chipo['item_name'].value_counts().index[0]

In [ ]:
chipo.groupby('item_name').sum()['quantity']

In [ ]:
chipo.groupby('item_name').sum().sort_values('quantity',ascending=False).head(1)

In [ ]:
items = chipo["item_name"].value_counts().index
print(f'{items[0]} was the most ordered item')

In [ ]:
orders = chipo["item_name"].value_counts()
print(f'{items[0]} was ordered {orders[0]} times')

In [ ]:
chipo['item_name'].value_counts()[chipo['item_name'].mode()]

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo.groupby('item_name')['quantity'].sum().max()

In [ ]:
chipo.groupby('item_name').sum()['quantity'].max()

In [ ]:
most = chipo.groupby('item_name')['quantity'].sum().reset_index(name='count').sort_values(by = ['count'], ascending = False).head(1)
most

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
chipo['choice_description'].mode()

In [ ]:
chipo['choice_description'].value_counts()[chipo['choice_description'].mode()]

In [ ]:
chipo.groupby('choice_description')['quantity'].sum().max()

### Step 12. How many items were orderd in total?

In [ ]:
chipo['quantity'].sum()

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtype

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo_new=chipo.copy()
chipo_new['item_price']=chipo['item_price'].str.replace("$","")
chipo_new['item_price']=chipo_new['item_price'].astype(float)
chipo_new.head()

In [ ]:
chipo1=lambda item_price:chipo['item_price'].str.replace('$','').astype(float)
chipo['item_price']=chipo1('item_price')

In [ ]:
chipo.head()

#### Step 13.c. Check the item price type

In [ ]:
chipo_new['item_price'].dtype

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
(chipo_new['item_price']*chipo_new['quantity']).sum()

### Step 15. How many orders were made in the period?

In [ ]:
orders=chipo['order_id'].unique()
len(orders)

In [ ]:
chipo['order_id'].nunique()

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
(chipo_new['item_price']*chipo_new['quantity']).sum()/len(orders)

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [ ]:
a=chipo['item_name'].unique()
len(a)

In [ ]:
chipo['item_name'].nunique()

### Step 18. How many products cost more than $10.00?

In [ ]:
np.count_nonzero(chipo_new['item_price']>10.00)

In [ ]:
len(chipo[chipo['item_price']>10.00])

### Step 19. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
chipo.loc[:,['item_name','item_price']]  #here multiple rows for same item

In [56]:
len(chipo[chipo.quantity==1][['item_name','item_price']].drop_duplicates('item_name'))

50

In [54]:
chipo[chipo.quantity==1][['item_name','item_price']].drop_duplicates(['item_name','item_price'])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[135 rows x 2 columns]

### Step 20. Sort by the name of the item

In [ ]:
chipo.sort_values(by='item_name',ascending=True)

### Step 21. What was the quantity of the most expensive item ordered?

In [74]:
chipo.sort_values(by='item_price',ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
2922,1162,1,Bottled Water,NaN,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
1457,591,1,Canned Soda,[Sprite],1.09

In [75]:
a=chipo['item_price'].max()

In [76]:
chipo[chipo['item_price']==a]['quantity'].sum()

15

### Step 22. How many times were a Veggie Salad Bowl ordered?

In [ ]:
np.count_nonzero(chipo['item_name']=='Veggie Salad Bowl')

In [ ]:
chipo[chipo.item_name=='Veggie Salad Bowl'].sum()

In [ ]:
chipo[chipo.item_name=='Veggie Salad Bowl'].sum()['quantity']

### Step 23. How many times people orderd more than one Canned Soda?

In [ ]:
np.count_nonzero((chipo['item_name']=='Canned Soda') & (chipo['quantity']>1))

In [79]:

len(chipo.loc[(chipo['quantity'] > 1) & (chipo["item_name"] == 'Canned Soda'),'quantity'])

20